* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fdf0d5;
    font-family: "Smythe", system-ui;
}

h1,
p {
    margin: 0;
}

h1 {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 48px;
}

p {
    font-size: 16px;
}

.hidden {
    display: none;
}



hr {
    background-color: black;
    border: 0.5px solid;
}

/* HEADER START */

.text-wrapper {
    padding-top: 16px;
}

main,
header {
    width: 390px;
    margin: 0 auto;
    text-align: center;
}

header {
    background-image: url("/assets/burger-img.jpg");
    background-position: 50%;
    background-size: 390px;
    background-repeat: no-repeat;
    padding-bottom: 32px;
    color: #fdf0d5;
}

/* HEADER END */

/* MENU ITEMS SECTION START */

#menu-container {
    height: 54vh;

}

#order-section {
    height: 25vh;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-wrapper {
    text-align: start;
    display: flex;
}

.text-wrapper {
    padding: 0;
}

.item-name {
    margin-bottom: 4px;
}

.add-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-circle-plus {
    font-size: 32px;
}

/* MENU ITEMS SECTION END */